<h2>Comments</h2>
<% @comments.each do |comment| %>
<p>
  <%= comment.content %> - <%= comment.user.email%>
  <%= link_to 'Destroy', project_task_comment_path(@project, @task, comment), method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Edit', edit_project_task_comment_path(@project, @task, comment) %>
</p>
<% end %>
