<h2>Comments</h2>
<% @comments.each do |comments| %>
<p>
  <%= comments.content %> - <%= comments.user.email%>
  <%= link_to 'Destroy', project_task_comment_path(@project, @task, comments), method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Edit', edit_project_task_comment_path(@project, @task, comments) %>
</p>
<% end %>
