<h1>Comments</h1>
<% @comments.each do |comments| %>
<p>
  <%= comments.comment %>
   - <%= comment.user.email %>
  <%= link_to 'Destroy', project_task_path(@task.project_id, @comment.task_id), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<% end %>
